@font-face {
font-family: "Montserrat";
src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
}

.notification {
    width: 100%
}

.main-container {
    width: 100%;
    margin: 0;
    left: 0;
    right 0;
}

.flex-container {
    display: flex
}

.flex-item {
    align-content: center;
    padding: 1.5em;
}

.upload-component {
    width: 10%;
    height: 60px;
    lineHeight: 60px;
    borderWidth: 1px;
    borderStyle: dashed;
    borderRadius: 5px;
    textAlign: center;
    margin: 10px
}

.button-assessment {
    font-size: 20px;
    border: none;
    background-color: #119DFF;
    color: white;
    padding: 15px 32px;
    border-radius: 15px;
    font-family: Montserrat;
    font-weight: bold
}

.icon-container {
    background-color: #119DFF;
    align-content: center
    border-radius: 15px;
    width: 40px;
    height: 40px;
    padding: 20px;
}

.border-container {
    border: solid #119DFF;
    border-radius: 25px;
    padding: 20px;
    margin: 30px;
}

.recognized-text-container {
    min-height: 100px;
    max-height: 700px;
    border-radius: 25px;
    padding: 20px;
    border: solid #CED4DA;
    overflow-x: hidden;
    overflow-y: auto;
}