@font-face {
font-family: "Montserrat";
src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
}

.notification {
    width: 100%
}

.main-container {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
}

.icon-container {
    background-color: #119DFF;
    align-content: center
    border-radius: 15px;
    width: 40px;
    height: 40px;
    padding: 20px;
}

.border-container {
    border: solid #119DFF;
    border-radius: 25px;
    padding: 20px;
    margin: 30px;
}

.recognized-text-container {
    min-height: 100px;
    max-height: 700px;
    border-radius: 25px;
    padding: 20px;
    border: solid #CED4DA;
    overflow-x: hidden;
    overflow-y: auto;
}